annotated-types==0.6.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
confluent-kafka==2.3.0
idna==3.6
joblib==1.3.2
kafka-python==2.0.2
nltk==3.8.1
NRCLex==3.0.0
oauthlib==3.2.2
praw==7.7.1
prawcore==2.4.0
psycopg2-binary==2.9.9
py4j==0.10.9.7
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
# pyspark==3.5.0
python-dotenv==1.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
textblob==0.17.1
tqdm==4.66.1
typing_extensions==4.9.0
update-checker==0.18.0
urllib3==2.1.0
websocket-client==1.7.0
altair==5.2.0
charset-normalizer==3.3.2
numpy==1.26.4
pandas==2.2.0
plotly-express==0.4.1
pymongo==4.6.1
streamlit==1.31.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5